LINEAR_API_KEY=
LINEAR_PROJECT_SLUG=
GITHUB_REPO=
CODEX_MODEL=gpt-5.5
CODEX_APPROVAL_POLICY=never
AGENT_WORKSPACE_ROOT=.agent-workspaces
SYMPHONY_REPO=https://github.com/openai/symphony.git
SYMPHONY_REF=58cf97da06d556c019ccea20c67f4f77da124bf3
SYMPHONY_WORKSPACE_ROOT=.symphony/workspaces
SYMPHONY_PORT=4007
AGENT_MAX_PARALLEL_RUNS=1
AGENT_DRY_RUN=true
AGENT_READY_HOLD_STATE=Todo
AGENT_IN_PROGRESS_STATE=In Progress
